@charset "utf-8";

.exclusive-dialog-container-bs5{

}

.exclusive-dialog-container-bs5 dialog{
    border-width: 0;
    background-color: transparent;
    padding:0;
    /* overflow: hidden; */
    overflow: visible;
}
.exclusive-dialog-container-bs5 dialog::backdrop{
    background-color: rgba(0,0,0,0.5);
}
.exclusive-dialog-container-bs5 .card{
    width: 450px;
    max-height: 80vh;
    max-height: 80svh;
    --bs-box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.5);
}

.exclusive-dialog-container-bs5 .card{
    width: 450px;
    max-width: 80vw;
    max-width: 80svw;
    max-height: 40vh;
    max-height: 40svh;
}


.exclusive-dialog-container-bs5 .dialog-message:empty{
    display: none;
}
.exclusive-dialog-container-bs5 .dialog-message{
    white-space: pre-wrap;
    white-space: break-spaces;
    word-break: break-all;
}

/* 일반 포커스도 강조되게 */
.exclusive-dialog-container-bs5 .btn:focus {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}


 /* 모바일 */
@media (max-width: 767px) {
    .reverse-buttons-for-mobile .exclusive-dialog-buttons{
        flex-direction: row-reverse; /* 버튼 순서 뒤집기 */
    }
}