@charset "utf-8";

.exclusive-dialog-container-bs5{

}

.exclusive-dialog-container-bs5 dialog{
    border-width: 0;
    background-color: transparent;
    padding:0;
    /* overflow: hidden; */
    overflow: visible;
}
.exclusive-dialog-container-bs5 dialog::backdrop{
    background-color: rgba(0,0,0,0.5);
}
.exclusive-dialog-container-bs5 .card{
    width: 100%;
    max-height: 50vh;
    max-height: 50svh;
    --bs-box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.5);
}

.exclusive-dialog-container-bs5 .card{
    width: 720px;
    max-width: 80vw;
    max-width: 80svw;
    max-height: 50vh;
    max-height: 50svh;
}
@media (max-width: 800px) {
  .exclusive-dialog-container-bs5 .card {
    width: 540px;
  }
}
@media (max-width: 600px) {
  .exclusive-dialog-container-bs5 .card {
    min-width:auto;
    width: 80vw;
    width: 80svw;
  }
}

.exclusive-dialog-container-bs5 .dialog-message:empty{
    display: none;
}
.exclusive-dialog-container-bs5 .dialog-message{
    white-space: pre-wrap;
    white-space: break-spaces;
    word-break: break-all;
}