@charset "utf-8";

.exclusive-modal-container-bs5{

}

.exclusive-modal-container-bs5 dialog{
    border-width: 0;
    background-color: transparent;
    padding:0;
    /* overflow: hidden; */
    overflow: visible;
}
.exclusive-modal-container-bs5 dialog::backdrop{
    background-color: rgba(0,0,0,0.5);
}
.exclusive-modal-container-bs5 .card{
    min-width: 200px;
    max-height: 50svh;
    max-height: 50vh;
    max-width: 80svw;
    max-width: 80vw;
}

.exclusive-modal-container-bs5 .dialog-message:empty{
    display: none;
}
.exclusive-modal-container-bs5 .dialog-message{
    white-space: pre-wrap;
    white-space: break-spaces;
}